.movie {
  /* min-width: 300px;
  max-width: 350px;
  flex: 1 0 20%; */
  width: 25vw;
  cursor: pointer;
}
@media (max-width:1019px) {
  .movie {
    width: 40vw;
  }
}
@media (max-width:789px) {
  .movie {
    width: 70vw;
    height: fit-content;
    margin: auto;
    margin-bottom: 20px;
  }
}

.movie_poster {
  width: 100%;
  height: 80%;
}

.movie_details {
  display: flex;
  justify-content: space-between;
}

.movie_title {
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 1.6em;
}

.movie_date {
  border: 1px solid;
  padding: 1px 5px;
  border-radius: 3px;
  font-size: 1.6em;
}

.movie_genres {
  font-size: 1.5em;
  margin: 0;
}